body {
    font-family: $bodyfont;
   
    h1, h2 {
        font-family: $headerfont;
        font-weight: $bold; 
    }
}

header {
    background: $darkblue;
    color: $geekwhite;
}

footer {
    background: $darkblue;
    color: $geekwhite;
}