nav {
    padding-left: 0; 
    padding-right: 0;
    background: $darkgray-bg;
    color: $geekwhite;
    justify-content: stretch;
    align-content: stretch;

    ul {
        align-content: stretch;
    }

    li {
        &#signIn, &#signOut {
            background: $geekblue-bg;

            & a:hover {
                background: $mediumblue-bg;
            }
        }
    }

    a {
        color: $geekwhite;
            &:hover {
                color: $geekwhite;
                background:$mediumgray-bg;
            }
        }
    }