/**** Colors ****/

/* Grays */
$geekwhite: #fff;
$lightgray: #DCDCDC;
$mediumgray: #949494;
$darkgray: #545454;
$charcoalgray: #1D1D1D;

/* Blues */
$geekblue: #458FF7;
$mediumblue: #275BA3;
$darkblue: #1C3961;

/*Background Colors/Less Opaque*/
$geekwhite-bg: rgba(255, 255, 255, .8);
$lightgray-bg: rgba(220, 220, 220, .8);
$mediumgray-bg: rgba(148, 148, 148, .8);
$darkgray-bg: rgba(84, 84, 84, .8);
$charcoalgray-bg: rgba(29, 29, 29, .8);

$geekblue-bg: rgba(69, 143, 247, .8);
$mediumblue-bg: rgba(39, 91, 163, .8);
$darkblue-bg:rgba(28, 57, 97, .8);

/**** Fonts ****/

/* Font Families */
$bodyfont: 'Opens Sans', 'Arial', sans-serif;
$headerfont: 'Cairo', sans-serif;

/* Font Weight */
$bold: 700;