/**** Colors ****/

/* Grays */
$geekwhite: #fff;
$lightgray: #DCDCDC;
$mediumgray: #949494;
$darkgray: #545454;
$charcoalgray: #1D1D1D;

/* Blues */
$geekblue: #458FF7;
$mediumblue: #275BA3;
$darkblue: #1C3961;


/**** Fonts ****/

/* Font Families */
$bodyfont: 'Opens Sans', 'Arial', sans-serif;
$headerfont: 'Cairo', sans-serif;

/* Font Weight */
$bold: 700;